<div id="message-<%= message.id %>" data-time="<%= message.created_at.iso8601(3) %>" class="active-admin-chat__message-container <%= 'admin' if message.sender.class == ActiveAdminChat.admin_user_klass %>">
  <div>
    <p><%= message.content %></p>
  </div>
</div>
