<div class='active-admin-chat__chat'>
  <%= render partial: 'chat/list', locals: { conversations: conversations } %>

  <div class='active-admin-chat__conversation-history-container'>
    <div class='active-admin-chat__conversation-history'></div>
  </div>
</div>
