<div class='active-admin-chat__chat'>
  <%= render partial: 'chat/list', locals: { conversations: conversations } %>

  <div class='active-admin-chat__conversation-history-container'>
    <div class='active-admin-chat__conversation-history'>
      <% messages&.each do |message| %>
        <div id='message-<%= message.id %>' class='active-admin-chat__message-container <%= admin_class(message) %>'>
          <p><%= message.content %><span class='active-admin-chat__time'></span></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
