<div class='active-admin-chat__chat'>
  <%= render partial: 'chat/list' %>

  <div class='active-admin-chat__conversation-history-container'>
    <div class='active-admin-chat__conversation-history'>
      <% if active_conversation && messages.empty? %>
          <div class='active-admin-chat__conversation-history no-messages'>No messages</div>
      <% else %>
        <%= render partial: 'messages/messages' %>
      <% end %>
    </div>
    <div class='active-admin-chat__send-message-container'>
      <input type='text' id='send-message' placeholder="Send message" />
    </div>
  </div>
</div>
