<div class='active-admin-chat__chat'>
  <%= render partial: 'active_admin/chat/list' %>
  <%= render ChatComponent.new(user: current_user, conversation: active_conversation, messages: messages) %>
</div>
<%= javascript_pack_tag 'activeadmin-chat' %>
