$active-admin-chat__lightest-grey: #fafafa;
$active-admin-chat__lighter-grey: #efefef;
$active-admin-chat__light-grey: #d4d4d4;
$active-admin-chat__grey: #cdcdcd;
$active-admin-chat__white: #fff;
$active-admin-chat__black: #000;
$active-admin-chat__green: #cbe6b8;
